body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg,#2563eb,#1e3a8a);
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    margin: 5px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: white;
    color: #2563eb;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
}

section {
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
}

h2 {
    color: #60a5fa;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-grid span {
    background: #1e40af;
    padding: 10px 15px;
    border-radius: 5px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.project-card ul {
    line-height: 1.8;
}

.links a {
    display: inline-block;
    margin-right: 20px;
    color: #60a5fa;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 25px;
    background: #111827;
}